body,div,img
p,input,form,button,pre,textarea,blockquote
dl,dt,dd,
ul,li,ol,
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;
text-align: center;}
/*div{*/
    /*border:1px solid red;*/
/*}*/

#top{
    width:1600px;
    height:25px;
    background-color: #ECECEC;
    /*margin-top: -50px;*/
}
#top a{
    display: inline-block;
    font-family: inherit;
    color: black;
    font-size: 12px;
    line-height: 25px;
    float: right;
    width:180px;
}
#top a li{
    display: inline-block;
    width: 60px;
    text-align:center;
}
#content{
    background-color:#ffffff;
    height:600px;
    margin:0 auto;
    position: relative;
}
.navbar{
    width: 1600px;
    position: absolute;
    left:0;
    top:0;
}
.navbar-header {
    width:350px;
    height:50px;
    position: relative;
}
.navbar-header img{
    float: right;
    margin-top: -5px;
    width:200px;
    height:70px;
}
.navbar-nav{
    position: absolute;
    left:500px;
    top:0px;
}
.navbar-form{
    position: absolute;
    right:100px;
    top:0px;
}

#lunfan { margin:0 auto;width: 1000px; height: 300px; /*border: 3px solid #333; */overflow: hidden; position: relative;}
#list { width: 7000px; height: 400px; position: absolute; z-index: 1;}
#list img { float: left;}
#buttons { position: absolute; height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 500px;}
#buttons span { cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 5px;}
#buttons .on {  background: orangered;}
.arrow { cursor: pointer; display: none; line-height: 40px; text-align: center; font-size: 36px; font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 130px; background-color: RGBA(0,0,0,.3); color: #fff;}
.arrow:hover { background-color: RGBA(0,0,0,.7);}
#lunfan:hover .arrow { display: block;}
#prev { left: 20px;}
#next { right: 20px;}
